## env variables

#### to create a secret or env variable,

```
kubectl create secret generic NAME_OF_THE_SECRET_KEY --from-literal=KEY=VALUE_FOR_THE_KEY
```

#### api prefix

API_PREFIX = 'api prifix' eg:- /api/v1

#### jwt secret

JWT_SECRET_KEY = "your jwt secret"

#### twilio otp sending and verification

TWILIO_ACCOUNT_SID = 'your_twilio_sid' <br>
TWILIO_AUTH_TOKEN = 'your_twilio_auth_token' <br>
TWILIO_SERVICE_SID = 'your_twilio_service_sid'

#### mongo atlas utls(Not necessary)

MONGO_URL_AUTH = "authentication db url"
MONGO_URL_ADMIN = "admin db url"
MONGO_URL_PROFILE = "profile db url"
MONGO_URL_CHAT = "chat db url"
MONGO_URL_JOB = "job db url"

# firebase for client
VITE_FIREBASE_API_KEY = "your_firebase_auth_key"
VITE_FIREBASE_AUTH_DOMAIN = "your_firebase_auth_domain"
VITE_FIREBASE_PROJECT_ID = "your_firebase_project_id"